<h1 class="photo-browse">My Photos</h1>
<section xmlns:th="http://www.thymeleaf.org">
	<div class="photo-browse">
		<div class="card-deck">
			<th:block th:each="photo : ${photos}">
				<div class="card m-2">
					<a th:href="@{/photo/} + ${photo.id}">
						<img th:src="@{/photo/file/}+${photo.file.id}"
							class="img-thumbnail" />					
					</a>
					<div class="card-body">
						<h4 class="card-title" th:text="${photo.name}"></h4>
						<p class="card-text" th:text="${photo.description}"></p>
						<form th:action="@{/photo/} + ${photo.id} + '/delete'" method="POST">
							<button type="submit" class="btn btn-danger">Delete</button>						
						</form>
					</div>
				</div>
			</th:block>
		</div>
		<h4 class="m-5" th:if="${photos.size()} == 0">You haven&apos;t uploaded any photos uploaded yet. Press &quot;Add Photo&quot; to add one.</h4>
	</div>
</section>