<h1>Register</h1>
<section xmlns:th="http://www.thymeleaf.org">
	<div th:if="${message}">
		<h3 th:text="${message}"></h3>
	</div>
	<form th:action="@{/register}" method="POST">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="name">Username</label>
					<input type="text" class="form-control" id="username" name="username" />
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password" />
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm password</label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
				</div>
				<button class="btn btn-primary" type="submit">Register</button>
				<button class="btn btn-secondary" type="reset">Clear</button>
			</div>
		</div>
	</form>
</section>