<h1>Add Photo</h1>
<section xmlns:th="http://www.thymeleaf.org">
	<div th:if="${message}">
		<h3 th:text="${message}"></h3>
	</div>
	<form th:action="@{/photo/add}" enctype="multipart/form-data" method="POST" th:object="${photoBindingModel}">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'"/>
					<div class="invalid-feedback" th:each="error : ${#fields.errors('name')}">
						<div th:text="${error}">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input type="text" class="form-control" id="description" name="description"  th:field="*{description}" th:classappend="${#fields.hasErrors('description')}? 'is-invalid'"/>
					<div class="invalid-feedback" th:each="error : ${#fields.errors('description')}">
						<div th:text="${error}">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="file">File</label>
					<input type="file" class="form-control" id="file" name="file" th:classappend="${#fields.hasErrors('file')}? 'is-invalid'"/>
					<div class="invalid-feedback" th:each="error : ${#fields.errors('file')}">
						<div th:text="${error}">
						</div>
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Add</button>
			</div>
		</div>
	</form>
</section>