<h1 class="photo-browse">Browse All Photos</h1>
<section xmlns:th="http://www.thymeleaf.org">
	<div class="photo-browse">
		<th:block th:each="photo : ${photos}">
			<a th:href="@{/photo/} + ${photo.id}">
				<div class="d-inline">
					<img th:src="@{/photo/file/}+${photo.file.id}" class="img-thumbnail m-2" width="200" />
				</div>
			</a>
		</th:block>
		<h4 class="m-5" th:if="${photos.size()} == 0">There are no photos uploaded yet. Press &quot;Add Photo&quot; to add one.</h4>
	</div>
</section>